* {
    border: none;
    font-family: Monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: rgba(45, 41, 41, 0.8);
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {;
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
}

#workspaces {
   margin-right: 3px;
   padding: 0 5px;
   transition: none;
}

#workspaces button {
    color: #ffffff;
    transition: none;
    background: transparent;
    padding: 0 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
}

#workspaces button.focused {
    border-top: 2px solid rgb(253, 255, 0);
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
}
#clock, #cpu, #memory, #temperature, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 3px;
    margin: 0 5px;
    background: transparent;
    color: #ffffff;
}

#clock, #tray {
    border-top: 2px solid rgb(0, 1, 12);
    margin-left: 5px;
}
/*	
label:focus { 
}
*/

#cpu, #memory, #temperature {
    border-top: 2px solid rgb(208, 135, 255);
    margin: 0px;
}

#network {
    border-top: 2px solid rgb(253, 255, 255);
}

#network.disconnected {
    border-top: 2px solid rgb(185 ,24, 25);
}

#pulseaudio {
    border-top: 2px solid rgb(253, 255, 0); 
}
#idle_inhibitor {
    border-top: 2px solid rgb(0, 1, 12);
}

#idle_inhibitor.activated {
    border-top: 2px solid rgb(201, 255, 0);
}
